.box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 20px; 
  border: 1px solid black; 
  border-radius: 2px; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.delete-btn {
  background-color: rgb(103, 113, 114);
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

